body {
    margin: 0;
    color: red;
    font-family: sans-serif;
    /* background-color: aqua; */
}
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}