<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form action="/login" method="POST">
        <p>User Name <input type= "text" name="username"/></p>
        <p>User passed <input type= "password" name="password"/></p>
        <p><input type="submit" value="登录"</p>
    </form>
    {% if error %}
        <p><strong>Error:</strong>{{ error }}</p>
    {% endif%}
    {% if code %}
    <p><strong>Error:code</strong>{{ code }}</p>
    {% endif%}
</body>
</html>