<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main2.css')}}"
    
    
    <title>Document</title>
</head>
<body>
<h2 style="text-align: center;">
    Show Contact Form
</h2>

{% with messages = get_flashed_messages()%}
    {% if messages%}
        {% for message in messages%}
            <p>{{ message }}</p>
        {% endfor %}
    {%  endif %}
{% endwith %}
 <h3>
    Contacts <a href="{{url_for('do_add')}}" target="_blank">Add Contacts</a>
 </h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Email</th>
            <th>Age</th>
            <th>Language</th>
            <th>Create Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.gender }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.age }}</td>
                <td>{{ contact.language }}</td>
                <td>{{ contact.date_created }}</td>
                <td><a href="/update/{{ contact.id }}">update</a></td>
                <td><a href="/delete/{{ contact.id }}">delete</a></td>

            </tr>
        {% endfor %}
    </tbody>
</table>
        
    <!-- <form action="/" method="post">
        <fieldset>
            <legend>Contect Form</legend>
            {{form.hidden_tag()}}
            <div style="color: aquamarine;">
                {{form.name.label}}<br>
                {{form.name}}<br>
                {{form.gender.label}}
                {{form.gender}}<br>  
                {{form.address.label}}<br>
                {{form.address}}<br> 
                
                {{form.email.label}}<br>
                {{form.email}}<br>  
                {{form.age.label}}
                {{form.age}}<br>
                {{form.languages.label}}
                {{form.languages}}<br>         
                {{form.submit}}
            </div>
        </fieldset>
    </form> -->

    
</body>
</html>