<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="POST">
        <p>Name<input type= "text" name="Name"/></p>
        <p>Physis 物理<input type= "text" name="Physis"/></p>
        <p>Chemistry 化学<input type= "text" name="Chemistry"/></p>
        <p>Maths 数学<input type= "text" name="Maths"/></p>
        <p><input type="submit" value="提交"</p>
    </form>
    
</body>
</html>